.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #dddddd;

  .navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: #fff;

    .button {
      text-decoration: none;
      font-size: 75%;
      line-height: 90%;
      padding: .5em .7em;
      letter-spacing: .08em;
      text-transform: uppercase;
      border: 1px solid transparent;
      color: #000;

      &:hover {
        transition: all .2s ease;
        border-color: #dddddd;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    .navbar-header {
      .button {
        display: none;
      }
    }
  }
}
