<div class="container about">
  <div class="flex">
    <div class="description">
      <img src="./assets/images/roxana.jpg"/>
      <h3>ROXANA CHEREGI</h3>
      <hr>
      <p>I’ve organized my first event about 25 years ago. I didn’t knew much back then, but what I remember for sure is
        the fact that I was very passionate and excited about it.</p>
      <p>20 years ago I was 10 years old, not enough to have this responsibility, but enough to allow myself to dream
        about
        it.</p>
      <p>
        My first real event was at the age of 23, when I had to organize a Charity Prom for the organization
        were
        I was working (100 participants).
      </p>
      <p>
        Along the years, I’ve organized more than 250 events, with 50 to 1000 (and more) guests.
      </p>
      <p>
        Just to make an idea, in 2018 alone I had 23 events (Corporate Events and Business Conferences to Weddings and
        Baptism Parties).
      </p>
      <p>
        If you want to find out more about my experience and how I bring a drop of passion to the events, just write me
        a note and I hope that that will be the first step of our collaboration.
      </p>
    </div>
  </div>
</div>

