<div class="container home">
  <div class="presentation">
    <div class="section" [routerLink]="['/about']">
      <img src="/assets/images/mockImages/teddyBearParty.jpg" alt="Teddy Bear Baptism Party">
      <div class="overlay">
        <div class="text">ABOUT</div>
      </div>
    </div>
    <div class="section" [routerLink]="['/gallery']">
      <img src="/assets/images/mockImages/wedding.jpg" alt="Wedding Photo">
      <div class="overlay">
        <div class="text">GALLERY</div>
      </div>
    </div>
    <div class="section" [routerLink]="['/contact']">
      <img src="/assets/images/mockImages/baptism.jpg" alt="We love traveling">
      <div class="overlay">
        <div class="text">CONTACT</div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="description">
      <h2> Create Real & Great Memories!</h2>
      <h2>
        Feeling like a guest when you are the host
      </h2>
      <hr>
      <p>We all love stories, but what we love the most are those stories where we are the main actors.</p>
      <p>A story is an experience that we have, hear or see.</p>
      <p>We should allow ourselves to have our own stories ready to be shared year after year and still feel like it was
        tomorrow.</p>
      <p>So, why don’t you allow yourself to feel like a guest at your own event?</p>
      <p>Having an event planner as part of your team is more than just giving away some of the responsibilities, it’s
        about helping you and your dear ones create the experience that you would like to keep for years in your
        memories.</p>
      <p>If you want someone who can take all the stress, all the questions and requirements from the guests and all the
        unpredictable scenarios that can appear during the BIG DAY, then I am the right person to have at your
        event.</p>
      <h3>A SMALL INVESTMENT FOR A GREAT EXPERIENCE</h3>
      <hr>
    </div>
  </div>
</div>
